---
import "../styles/global.css";
import SeoHead from "@components/SeoHead.astro";
import { Font } from "astro:assets";

interface Props {
  title: string;
  description?: string;
  image?: string;
  includeSchema?: boolean;
}

const { title, description, image, includeSchema } = Astro.props;
---

<html lang="en">
  <head>
    <SeoHead
      title={title}
      description={description}
      image={image}
      includeSchema={includeSchema}
    />
    <Font cssVariable="--font-inter" />
  </head>
  <body>
    <slot />
  </body>
</html>
